/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  max-width: var(--maine-max-width);
  color: var(--text-color, #f1b2ce);
  font-family: var(--main-font);
  background-attachment: fixed;
  background-color: var(--bg-color);
  background-image: var(--bg-image, --bg-color);
  background-size: cover;
  background-position: center;
}

header {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  block-size: 100vh;
  min-height: 768px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  z-index: -1;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  border-inline-end: 1px solid var(--accent-color);
  border-block-start: 1px solid var(--accent-color);
  inset-inline-end: 20px;
  inset-block-start: 20px;
}

.decorated-zone::after {
  border-inline-start: 1px solid var(--accent-color);
  border-block-end: 1px solid var(--accent-color);
  inset-inline-start: 20px;
  inset-block-end: 20px;
}

.rec {
  position: relative;
}

.rec::before {
  position: absolute;
  content: "rec";
  text-transform: uppercase;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: var(--accent-color);
  inset-inline-end: 48px;
  inset-block-start: 20px;
}

.rec::after {
  content: "";
  position: absolute;
  display: block;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 9px;
  background: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  inset-inline-end: 28px;
  inset-block-start: 28px;
  z-index: -1;
}

.header__theme-menu-item {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 10px;
  background: none;
}

.header__theme-menu {
  display: flex;
  justify-content: space-between;
  margin: 2vi 0 0 1vi;
}

.header__theme-menu-list {
  display: flex;
  gap: 18px;
}

.header__theme-menu-button {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: var(--accent-color);
  background: none;
 background-color: inherit;
  border: none;
   height: 26px;
  width: 70px;
}

.header__theme-menu-button:default,
.header__theme-menu-button_active {
  pointer-events: none;
  text-decoration: none;
  border: none;
}

.header__theme-menu-button:hover {
  border: 1px var(--border-color) solid;
}

.header__theme-menu-button:focus,
.header__theme-menu-button:focus-visible {
  border: none;
  border-bottom: 1px var(--border-color) solid;
}

.header-menu {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
}

.parent_rec {
  display: flex;
  justify-content: flex-end;
  inline-size: 38%;
}

.heading_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1vh 0 0 0;
  inline-size: 100%;

  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  line-height: 83%;

  color: var(--col-or-h);
  margin: 26vi 0 0 0;
  text-shadow: 4px 4px 0 var(--shadow-color);
}

.shadow_text {
  text-shadow: 1px 3px 0 var(--shadow-color);
  text-decoration: none;
}

.shadow_text:hover {
  border-bottom: 1px solid var(--text-color);
}

.shadow_text:default {
  border: none;
}

.shadow_text:focus {
  border: 1px var(--text-color) solid;
}

.shadow_text:focus-visible {
  border: 1px solid var(--text-color);
  text-decoration: none;
}

.parent_header_text {
  margin: 11vi 2vi 0 50%;
  height: auto;
  max-inline-size: 491px;
}

.header_text {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--txt-color-h);
  background: var(--bg-heading);
}

.heading_title_section {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--accent-color);
}

.decorated-zone_maine {
  display: flex;
  flex-direction: column;
  gap: 80px 0;
  max-inline-size: var(--maine-max-width);
  padding-inline: var(--maine-padding-x);
  padding-block-start: var(--maine-padding-y);
  padding-block-end: var(--maine-padding-y);
  margin-inline: auto;
}

.content-section {
  display: flex;
  gap: 20px;
}

.information_text_parent {
  inline-size: 315px;
}

.card-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  inline-size: fit-content;
}

.cards_part {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  inline-size: 66%;
}

.content_paragraph {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-color);
}

.heading {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  background: var(--bg-heading);
  color: var(--txt-color-h);
  inline-size: 100%;
}


.decorate-title {
  font-weight: 400;
}



.information_lots {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.lots__heading_parent {
  inline-size: 28%;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;

}





.information_list_text_parent {
  inline-size: 32%;
}

.heading_pictures {
  inline-size: 100%;
}

.gallery {
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);

  gap: 20px;
  margin: 20px 0 0 0;
}

.image_sunset {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}

.image_ice-scream {
  grid-column: 3 / span 1;
  grid-row: 1 / span 2;
}

.image_books {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.image_tape {
  grid-column: 1 / span 1;
  grid-row: 2 / span 2;
}

.image_street {
  grid-column: 2 / span 2;
  grid-row: 3 / span 1;
}

.picture_image {
  display: block;
  inline-size: 100%;
  block-size: 100%;
  object-fit: contain;
}

.ice-scream {
  object-fit: cover;
}

.the_tape {
  object-fit: cover;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 768px;
  block-size: 100vh;
}

.heading_footer {
  display: flex;
  align-items: center;
  text-shadow: 4px 4px 0 var(--shadow-color);
  inline-size: 47%;
  margin: auto;
}

/*планшет  устроиство */
@media (max-width: 768px) {
  .page {
    max-inline-size: var(--maine-max-width);
  }

  .header {
    min-height: 1024px;
  }

  .header__theme-menu {
    flex-direction: row-reverse;
    align-items: center;
    margin: 26vi 3vi 0 0;
  }

  .header__theme-menu-list {
    flex-direction: column;
    padding: 0;
    gap: 13px;
  }

  .heading_title {
    margin: 21vi 0 0 0;
  }

  .header-menu {
    flex-direction: column-reverse;
    flex-wrap: nowrap;
  }

  .parent_header_text {
    margin-block-start: 21vi;
    inline-size: 47%;
    overflow-wrap: break-word;
  }

  .decorated-zone_maine {
    max-inline-size: var(--maine-max-width);
    padding-inline: var(--maine-padding-x);
    padding-block-start: var(--maine-padding-y);
    padding-block-end: var(--maine-padding-y);
  }

  .content_title {
    margin: 11px 0 0 0;
  }

  .content-section {
    gap: 3vi;
  }

  .information_text_parent {
    inline-size: 49%;
  }

  .cards_part {
    inline-size: 100%;
  }

  .information_lots {
    margin: 0;
  }

  .lots__heading_parent {
    inline-size: 30%;
  }

  .lots__heading {
    width: 236px;
    padding: 4vh 0 0 2vh;
  }

.content_paragraph {
  inline-size: 100%;
}

  .cards {
    display: flex;
    flex-direction: column;
  }

  .information_list_text_parent {
    inline-size: 50%;
  }

  footer {
    min-height: 1024px;
  }

  .heading_footer {
    margin: 0;
  }

  .heading_footer_parent {
    margin: 9vh 0 0 5vw;
    inline-size: 83%;
  }
}

@media (max-width: 667px) {
  .content-section {
    flex-wrap: wrap;
  }
}

@media (max-width: 375px) {
  .header {
    min-height: 668px;
  }

  .header__theme-menu {
    flex-direction: column-reverse;
    align-items: flex-end;
    margin: 14vi 0 0 0;
  }

  .header__theme-menu-list {
    margin: 7vi 1vi 0 0;
    flex-direction: column;
    gap: 13px;
  }

  .decorated-zone::before {
    inset-inline-end: 10px;
    inset-block-start: 10px;
  }

  .decorated-zone::after {
    inset-inline-start: 10px;
    inset-block-end: 10px;
  }

  .decorate_lamp::before {
    inset-inline-end: 19px;
    inset-block-start: 18px;
  }

  .rec::before {
    inset-inline-end: 38px;
    inset-block-start: 10px;
  }

  .rec::after {
    inset-inline-end: 19px;
    inset-block-start: 18px;
  }

  .heading_title {
    margin: 16vi 0 0 2vi;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
    inline-size: 96%;
  }

  .parent_header_text {
    margin: 14vi 0 0 10px;
    inline-size: 95%;
  }

  .content-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .information_text_parent {
    inline-size: 355px;
  }

  .content_title {
    margin: 8px 0 0px 0;
  }

  .lots__heading_parent {
    inline-size: 97%;
    padding: 0;
  }

  .lots__heading {
    width: 355px;
    margin: 0;
    padding: 0 0 0 0px;
  }

  .information_list_text_parent {
    display: inline;
    inline-size: 100%;
  }

  .cards {
    padding: 0;
    inline-size: 100%;
  }

 /* .card__title-name {
    inline-size: 100%;
  }*/

  .heading_top {
    inline-size: 100%;
  }

  .pictures {
    display: flex;
    flex-direction: column;
    inline-size: 100%;
    block-size: auto;
    padding: 0;
    gap: 10px;
  }

  .gallery {
    display: flex;
    gap: 10px;
    margin: 0;
    height: 100%;
    flex-direction: column;
  }

  .picture_image {
    block-size: 100%;
    object-fit: contain;
  }

  footer {
    min-height: 668px;
  }

  .heading_footer {
    padding: 0;
    margin: 0;
  }

  .heading_footer_parent {
    margin: 7vh 0 0 126vi;
    grid-area: 2 / 2 / 3 / 4;
    inline-size: 112%;
  }

  .decorated-zone_maine {
    gap: 50px;
    padding-inline: var(--maine-padding-x);
    padding-block-start: var(--maine-padding-y);
    padding-block-end: var(--maine-padding-y);
  }
}
