/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

:root {
  /*размеры*/
  --page-width: 1024px;
  /*оформление страницы */
  --main-font: "IBM Plex mono", sans-serif;
  --bg-color: #000028;
  --bg-heading: #ff0070;
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --txt-color-h: #000028;
  --col-or-h: #db00ff;
  --shadow-color: #ff0070;
  --border-color: #FF007066;
}

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: var(--page-width);
  color: var(--text-color, #f1b2ce);
  font-family: var(--main-font);
  background-attachment: fixed;
  background-image: url(../images/cover-image-dark.png);
  position: absolute;
}

header {
  width: var(--page-width);
  display: flex;
  block-size: 100vh;
  min-height: 768px;
  justify-content: flex-start;
  flex-direction: column;
}

.decorated-zone {
  background-size: cover;
  background-position: center;
  background-image: url(../images/cover-image-dark.png);
}

.header__theme-menu-item {
  display: flex;
  list-style-type: none;
  gap: 10px;
  background: none;
}

.header__theme-menu {
  display: flex;
  justify-content: space-between;
  margin: 18px 30vw 0 0;
}

.header__theme-menu-list {
  display: flex;
  gap: 18px;
}





.header__theme-menu-button {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: var(--accent-color);
  background: none;
  border: none;
}


.header__theme-menu-button:default,
.header__theme-menu-button_active {
  pointer-events: none;
  border: 1px var(--accent-color) solid;
  padding: 70 0;
  height: 26px;
  width: 70px;
  text-decoration: none;
}


.header__theme-menu-button:active,
.header__theme-menu-button:hover {
  border: 1px var(--border-color) solid;
 padding: 70 0;
  height: 26px;
  width: 70px;
}

.header__theme-menu-button:focus,
.header__theme-menu-button:focus-visible {
text-decoration: underline var(--accent-color) solid;
}


.header-menu {
  display: flex;
  justify-content: flex-end;
}

.parent_rec {
  display: flex;
  justify-content: flex-end;
  width: 100px;
  height: 26px;
}

.rec::after {
  position: absolute;
  content: "";
  display: block;
  width: 9px;
  height: 9px;
  margin: 7px 0 0 43px;
  border-radius: 9px;
  background: var(--accent-color);
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.rec {
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  margin: 20px 4px 0 0;
  color: var(--accent-color);
}

.decorate_sign_corner {
  box-sizing: border-box;
  width: 25px;
  height: 25px;
  border-top: 1px var(--accent-color) solid;
  border-right: 1px var(--accent-color) solid;
  margin: 20px 20px 0 0;
}

.parent_heading {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding: 2vh 0 0 0;
}

.heading_title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 700;
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  line-height: 83%;
  color: var(--col-or-h);
  display: flex;
  align-items: flex-end;
  margin: 20vh 0 0 0;
  text-shadow: 4px 4px 0 var(--shadow-color);
}

.shadow_text {
 text-shadow: 1px 3px 0 var(--shadow-color);
  text-decoration: none;
}

.shadow_text:hover {
  text-decoration: underline solid var(--text-color);
}
.shadow_text:default {
  text-decoration: none;
}

.shadow_text:focus {
  border: 1px solid var(--text-color);
  text-decoration: none;
}

.parent_header_text {
  max-width: 491px;
  margin: 0 0 90px 513px;
}

.header_text {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--txt-color-h);
  background: var(--bg-heading);
}

.decorate_sign {
  box-sizing: border-box;
  padding: 23px 0 1px 0px;
  width: 25px;
  height: 25px;
  border-bottom: 1px var(--accent-color) solid;
  border-left: 1px var(--accent-color) solid;
  margin: 0px 0px 20px 20px;
}

.heading_title_section {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--accent-color);
}

.content-section {
  margin: auto;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.information_text_parent {
  width: 314.9599914550781px;
  height: 47px;
}

.decorated-zone_maine {
  display: flex;
  flex-direction: column;
  background: var(--bg-color);
  width: var(--page-width);
  gap: 80px;
  padding-top: 60px;
}

.heading {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  background: var(--bg-heading);
  color: var(--txt-color-h);
  width: 649px;
  height: 23px;
}

.text_section_parent {
  width: 648.9175415039062px;
  height: 211px;
}

.content_paragraph {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  color: var(--text-color);
  margin: 10px 0 0 0;
}

.content_title {
  margin: 13px 0 0 0;
}

.heading_parent {
  width: 649px;
  height: 20px;
  background: var(--bg-heading);
}

.information_lots {
  display: grid;
  width: 1024px;
  height: 498px;
  gap: 20px;
}

.lots__heading_parent {
  width: 315px;
  height: 47px;
  padding: 0 0 0 20px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  width: 984px;
  height: 431px;
  gap: 20px;
  padding: 0 0 11px 20px;
}

.lots_card_right_task {
  width: 315px;
  height: 47px;
}

.card__title-name {
  flex-direction: row;
  background: var(--bg-heading);
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  color: var(--txt-color-h);
}

.card__text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 18px;
  line-height: 23.4px;
  letter-spacing: 0%;
  margin: 10px 0 0 0;
}

.card_one {
  width: 315px;
  height: 384px;
  grid-row: span 5 / span 5;
}

.card_two {
  grid-row: span 5 / span 5;
  width: 315px;
  height: 361px;
}

.card_three {
  width: 315px;
  height: 431px;
  grid-row: span 5 / span 5;
}

.information_list_text_parent {
  width: 315px;
  height: 98px;
}

.cards_part {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.heading_list_sky_parent {
  width: 649px;
  height: 244px;
  grid-column: span 5 / span 5;
}

.text_sky_parent {
  width: 647.5520629882812px;
  height: 211px;
}

.heading_list_music_parent {
  width: 649px;
  height: 150px;
  grid-column: span 5 / span 5;
  grid-row-start: 2;
}

.text_music_parent {
  width: 649px;
  height: 117px;
}

.heading_list_walk_parent {
  width: 649px;
  height: 197px;
  grid-column: span 5 / span 5;
  grid-row-start: 3;
}

.text_walk_parent {
  width: 649px;
  height: 197px;
}

.heading_list_good_parent {
  width: 649px;
  height: 151px;
  grid-column: span 5 / span 5;
  grid-row-start: 4;
}

.text_good_parent {
  width: 649px;
  height: 118px;
}

.heading_list_read_parent {
  width: 649px;
  height: 150px;
  grid-column: span 5 / span 5;
  grid-row-start: 5;
}

.text_read_parent {
  width: 649px;
  height: 117px;
}

.pictures {
  height: 100%;
  padding: 0px 20px 20px 20px;
}

.heading_pictures {
  width: 984px;
  margin: 0px 0 0 0vh;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  margin: 20px 0 0 0;
}

.image_sunset {
  grid-column: span 2 / span 2;
  grid-row: span 3 / span 3;
}

.image_ice-scream {
  grid-row: span 6 / span 6;
  grid-column-start: 3;
}

.image_books {
  grid-row: span 3 / span 3;
  grid-column-start: 2;
  grid-row-start: 4;
}

.image_tape {
  grid-row: span 7 / span 7;
  grid-column-start: 1;
  grid-row-start: 4;
}

.image_street {
  grid-column: span 2 / span 2;
  grid-row: span 4 / span 4;
  grid-column-start: 2;
  grid-row-start: 7;
}

.sunset {
  display: block;
  width: 650px;
  height: 260px;
}

.ice-scream {
  width: 314px;
  height: 595px;
  object-fit: cover;
}

.books {
  width: 315px;
  height: 315px;
  object-fit: contain;
}

.the_tape {
  width: 315px;
  height: 768px;
  object-fit: cover;
}

.the_street {
  width: 649px;
  height: 433px;
  object-fit: contain;
}

footer {
  display: grid;
  grid-template-rows: 11vw 8vw 28vw;
  grid-template-columns: 26vw 47vw 0vw;
  gap: 0px 10px;
  width: var(--page-width);
  min-height: 799px;
  height: 100vh;
  background: var(--bg-color);
}

.decorate_sign_footer_up_parent {
  width: 27px;
  height: 0px;
  margin: 4vh 0px 0px 20vw;
  grid-area: 1 / 4 / 3 / 5;
}

.heading_footer_parent {
  height: 16.927vh;
  width: 471px;
  margin: 0 0 0 0;
  grid-area: 3 / 2 / 5 / 4;
}

.heading_footer {
  text-shadow: 2px 2px 0 var(--shadow-color);
}

.decorate_sign_footer_parent {
  width: 27px;
  height: 0;
  margin: 24vw 0 0 0;
  grid-area: 5 / 1 / 7 / 2;
}
