/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  /* Переменные тёмной темы */
 --bg-color: #000028;
  --bg-heading: #ff0070;
  --accent-color: #ff0070;
  --text-color: #f1b2ce;
  --txt-color-h: #000028;
  --col-or-h: #db00ff;
  --shadow-color: #ff0070;
}
  


/*планшет  устроиство */
/*@media (max-width: 768px) {

:root {
   --page-width: 768px;
   --header-height:1024px;
}


.page {
width: 768px;
}

   .header {
    height: var(--header-height);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: auto;
    max-width: 100%;
  }

  .block {
    display: none;
  }

  .header__theme-menu {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
  }

  .header__theme-menu-list {
    flex-direction: column;
    margin: 18vh 3vh 0 0vh;
  }

  .header__theme-menu-item {
    row-gap: 10px;
  }

  .parent_rec {
    margin: 4px 4px 0 0;
  }

  .parent_focus {
    margin: 0;
  }

  .focus {
  margin: 0 0 2% 0;
  }

  .parent_header_text {
    margin: 0 0 71px 50%;
  }

  .header_text {
    padding: 0 0 0 0;
    width: 364px;
    height: 117px;
    margin: 0vh 0 72px 0px;
  }



  .heading_parent {
    width: 472px;
    height: 23px;
  }

  .text_right_parent {
    width: 472px;
    height: 278px;
  }

  .information_text_parent {
    width: 236px;
    height: 71px;
    padding: 5px 0 0 20px;
  }

.information_list_text {
  margin: 5% 0 0 0 ;
}

  .dofamin_block {
    margin: 0;
  }

  .information_lots {
    margin: 14vh 0 0 0;
    width: 768px;
  }

  .lots__heading_parent {
    width: 236px;
    height: 70px;
  }

  .lots__heading {
    width: 236px;
    height: 70px;
    padding: 4vh 0 0 0;
  }

  .cards {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 20px;
    padding: 6vh 0 11vh 0;
    width: 768px;
  }

  .card_one {
    grid-column: span 5 / span 5;
    grid-row: span 2 / span 2;
    width: 728px;
    height: 174px;
  }

  .card_two {
    grid-column: span 5 / span 5;
    grid-row: span 2 / span 2;
    grid-row-start: 3;
    width: 728px;
    height: 174px;
  }

  .card_three {
    width: 728px;
    height: 197px;
    grid-column: span 5 / span 5;
    grid-row: span 2 / span 2;
    grid-row-start: 5;
  }

  .information_text_right {
    width: 472px;
    gap: 20px;
  }

  .heading_top {
    width: 472px;
    height: 23px;
    margin: 3% 0 0 20px;
  }

  .information_text_right_three {
    padding: 0 39px 0 0;
  }

  .information_list_text_parent {
    padding:  0;
  }

  .heading_list_right_parent {
    width: 472px;
    margin: 9px 0 0 0;
  }

  .heading_list_right_sky_parent {
    width: 472px;
    height: 314px;
  }

  .heading_list_right_music_parent {
    width: 472px;
    height: 198px;
  }

  .heading_list_right_walk_parent {
    width: 472px;
    height: 290px;
  }

  .heading_list_right_good_parent {
    width: 472px;
    height: 197px;
  }

  .heading_list_right_read_parent {
    width: 472px;
    height: 175px;
  }

  .text_right_sky_parent {
    width: 472px;
    height: 280.1079406738281px;
  }

  .text_right_music_parent {
    width: 472px;
    height: 164px;
  }

  .text_right_walk_parent {
    width: 472px;
    height: 257.1134033203125px;
  }

  .text_right_good_parent {
    width: 472px;
    height: 163.17172241210938px;
  }

  .text_right_read_parent {
    width: 472px;
    height: 141px;
  }

  .information_list_three {
    height: 1296px;
    top: 2567px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 29vh;
  }

  .pictures {
    width: 728px;
    height: 823px;
  margin: 11vh 0 0 0;
  }

  .heading_pictures {
    width: 728px;
    height: 23px;
  }
  .sunset {
    width: 479.00006103515625px;
    height: 192px;
  }

  .ice-scream {
    width: 229px;
    height: 442px;
  }

  .books {
    width: 230.00001525878906px;
    height: 230px;
  }

  .the_tape {
    width: 229px;
    height: 568px;
  }

  .the_street {
    width: 479px;
    height: 318px;
  }

  footer {
    width: 768px;
    height: 1024px;
  }

  .decorate_sign_footer_up_parent {
    margin: 0 0vh 0px 0;
    width: 768px;
   
  }

  .decorate_sign_footer_up {
    margin: 28px 0 0 44rem;
    
  }


.decorate_sign_footer_parent {
  width: 768px; 
  
}


  .decorate_sign_footer {
margin: 60px 0 0 0px;
  }




  .focus_footer {
    padding: 10vh 0 0 50px;
  }


}

*/








@media  (max-width: 375px) {



:root {
   --page-width: 375px;
   --header-height:668px;
}

   .header {
    height: var( --header-height);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
     margin: auto;
     max-width: 100%;
  }

  .page {
    width: var(--page-width);

  }


.block {
    display: none;
  }


  .parent_rec {
margin: 0px 0px 4px 0;

  }

  .header__theme-menu {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
  }

.header__theme-menu-list {
display: flex;
width: 70px;
height: 98px;
margin: 2vh 0vh 0 0vh;
flex-direction: column;

}


.header__theme-menu-item {

}

.parent_focus {
  width: 355px;
height: 192px;
margin: 12% 0 0 1%;
}

.focus { 
margin: 19vh 0 0 1vh;
}

.parent_header_text {
  margin: 13% 0 0vh 2%;
}

.header_text {
  width: 355px;
height: 117px;
margin: 4vh 0 0 0;

}

.decorate_sign {
margin: 30px 0 0 10px;
}



.information {
width: 375px;
height: 949px;
display: flex;
flex-direction: column;
padding: 14px 10px 0px 10px;
margin: 0 0 0 0;

} 

.content_title {
  margin: 8px 0 0px 0;
}


.information_text_parent {
  width: 355px;
height: 47px;
padding: 12px 0 0 0;


}


.heading_parent {
  width: 355px;
  height: 23px;

}

.heading {


}


.text_right_parent {
  width: 351.0270690917969px;
  height: 398px;

}


.information_lots {
display: flex;
width: 375px;
height: 1119px;
flex-direction: column;
padding: 5vh 0 0 10px;
margin: 11% 0 0 0;

}


.lots__heading_parent {
  width: 355px;
height: 47px;
}

.lots__heading {

width: 355px;
height: 47px;
margin: 0;
padding: 0 0 0 0px;

}



.information_list_text {
  width: 355px;
height: 70px;
left: 10px;
margin: auto;

}


.information_list_text_parent {
  padding: 3% 0 0 0vh;
}






    .cards {
    display: flex;;
    flex-direction: column;
    padding: 0;
    width: 355px;
height: 1052px;


    }

.card_one,  .card_three {
width: 355px;
}

.card_one{
  height:314px;
  margin: 3% 0 0 0;
}
.card_two,.card_one {
height: 314px;
}

.card_two {
  margin: 3% 0 0 0;
}


.card_three {
 height: 384px;
 MARGIN: 3% 0 0 0;
} 


.card__text  {
  line-height: 134%;
}




.сard__text_one {
width: 355px;
height: 281px;
margin: auto;
}


.сard__text_two {
width: 354.9990234375px;
height: 281px;
margin: 0;
}


.сard__text_three {
width: 355px;
height: 351px;
margin: auto;
}

.card__title-name  {
  width: 355px;
height: 24px;
margin: 0;
}







.information_list_three {
display: flex;
flex-direction: column;
padding: 0;
margin: 4vh 0 0 1vh;
width: 375px;
height: 1737px;
top: 2876px;

}




.information_text_right_three {

}


.heading_list_right_parent {
  width: 355px;
height: 23px;
top: 67px;

}





.heading_list_right_sky_parent {
width: 355.0001220703125px;
height: 408px;

}

.heading_list_right_music_parent {
width: 355px;
height: 244px;

}

.heading_list_right_walk_parent {
width: 355px;
height: 384px;
}



.heading_list_right_good_parent{
width: 355px;
height: 244px;



}

.heading_list_right_read_parent {
width: 355px;
height: 220px;

}



.heading_top {
  width: 355px;
height: 47px;
margin: 6vh 0 0 3px;

}

.text_right_sky_parent {
width: 354.8390808105469px;
height: 375px;
}

.text_right_music_parent { 
width: 355px;
height: 211px;
}

.text_right_walk_parent { 
  width: 353.50238037109375px;
height: 351px;
}

.text_right_good_parent {
  width: 355px;
height: 211px;


}

.text_right_read_parent {
width: 355px;
height: 187px;
}

.content_paragraph {
margin: revert-layer;
}



.information_text_right {
  display: flex;
  flex-direction: column;
  padding: 0;
  gap: 20px;
  width: 375px;

}



.pictures {
  width: 375px;
height: 1400px;
padding-left: 10px;
margin: 69px 0 0 0;

}

.gallery{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 5px 0 0 0;
}


.heading_pictures {
width: 354.9991760253906px;
height: 24px;
left: 10px;
}

.sunset {
width: 354.9991760253906px;
height: 142px;
top: 34px;
left: 10px;



}


.ice-scream {
  width: 354.9991760253906px;
height: 355px;
top: 186px;
left: 10px;

}

.books {
width: 354.9991760253906px;
height: 355px;
top: 798px;
left: 10px;


}

.the_tape {
width: 355px;
height: 237px;
top: 551px;
left: 10px;
}




.the_street {
width: 354.9991760253906px;
height: 237px;
top: 1163px;
left: 10px;


}

footer {
  width: 375px;
height: 668px;
padding: 0 10px 0 10px ;

}

.focus_footer {
 padding: 13vh 0 0 16px;
  line-height: 83%;
} 

.heading_focus {
  font-size: 116px;
margin: 13% 0 0 4%;
padding: 0;
}

.decorate_sign_footer_up_parent {
margin: 0% 0 0 0%;
width: 375px;
}

.decorate_sign_footer_up {
  margin: 42px 0 0 88%;
}

.decorate_sign_footer {
margin: 28px 0 0 0px;
}

.focus_footer_parent{
  width: 375px;
  margin: 0 0% 0% 0;
}


.decorate_sign_footer_parent {
  width: 375px;
}

}


