/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

/*планшет  устроиство */
@media (max-width: 768px) {

:root {
   --page-width: 768px;
   --header-height:1024px;
}

   .header {
    height: var( --header-height);
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
     margin: auto;
     max-width: 100%;
  }
  
  
  .block {
    display: none;
  }
  .header__theme-menu {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
  }
 .header__theme-menu-list {
      flex-direction: column;
      margin: 17vh 3vh 0 0vh
    }

   .header__theme-menu-item {
        row-gap:10px;
    }
    
    .parent_rec {
      margin: 4px 4px 0 0;

    }

   .parent_focus {
      margin: 0 0 18vh 0;
   }


    .focus {
     

    }

    .parent_header_text {
      width: 364px;
     height: 117px;
     margin: 0vh 0 139px 385px;

    }

  .header_text {
    padding: 0 0 0 0;
  }

 
.decorate_sign {

}

.heading_parent {
  width: 472px;
height: 23px;

}


.text_right_parent {
  width: 472px;
height: 278px;
}


.information {
margin: 0 0 18vh 0;
}


.information_text_parent {
width: 236px;
height: 71px;
padding: 5px 0 0 20px;

}



.dofamin_block {
  margin: 0;
}

.information_lots {

 width: 728px;
height: 675px;

}

.lots__heading_parent{
  width: 236PX;
  height: 70PX; 
  }



.lots__heading {
width: 236px;
height: 70px;
padding: 1vh 0 0 0;
}

.cards {  
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 20px;
  padding: 0 0 16vh 0;
}

.card_one {
  grid-column: span 5 / span 5;
    grid-row: span 2 / span 2;
width: 728px;
height: 174px;

}




.card_two {
 grid-column: span 5 / span 5;
grid-row: span 2 / span 2;
grid-row-start: 3;
width: 728px;
height: 174px;

}

.card_three {

width: 728px;
height: 197px;
grid-column: span 5 / span 5;
grid-row: span 2 / span 2;
grid-row-start: 5;

}

.information_text_right {
  width: 472px;
gap: 20px;

}

.heading_list_right_parent {
    width: 472px;
}

.heading_list_right_sky_parent {
    width: 472px;
}

.heading_list_right_music_parent {
 width: 472px;
}

.heading_list_right_walk_parent {
 width: 472px;
}


.heading_list_right_good_parent{
 width: 472px;
}

.heading_list_right_read_parent {
 width: 472px;
}

    













































}
































